

/* NAVBAR */



#container1{
    text-align: center;
    background-color: powderblue;
    height: 383px;
}

.word1{
    position: relative;
    top: -325px;
    left: -315px;
}

.word2{
    position: relative;
    top: -450px;
    left: -125px;

    
}

.word3{
    position: relative;
    top: -500px;
    left: 100px;

}

.word4{
    position: relative;
    top: -590px;
    left: 315px;

}

.homepageSlideShow1{
    position: relative;
    top: 50px;
    left: -125px;
}

#helpFindText{
    padding-top: 70px;
   background-color: pink;
   height: 373px;
   width: 450px;
}

#catPersonalities{
    border: 5px solid pink;
    background-color: pink;
    height: 373px;
    width: 990px;
    position: relative;
    top: -373px;
    left: 450px;
}

#catPersonality2{
    position: relative;
    top: -356px;
    left: 200px;
}

#catPersonality3{
    position: relative;
    top: -712px;
    left: 400px;
    
}

#catPersonality4{
    position: relative;
    top: -1068px;
    left: 600px;  
}

#catPersonality5{
    position: relative;
    top: -1424px;
    left: 780px;
    
}


.heading{
    position: relative;
    top: -300px;
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}


#featuredCatsContainer{
    position: relative;
    top: -200px;
    width: 1000px;
    left: 200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.featuredCard{
    position: relative;
    border: 1px solid pink;
    background-color: pink;
    height: 300px;
    width: 250px;
    /* background-color: pink; */
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.featuredCatPic{
    background-size: contain;
    background-size: cover;
    border: 3px solid pink;
    width: 225px;
    height: 225px;
    position: absolute;
    top: 15px;
    left: 11px;
}

.featuredCatName{
    width: 225px;
    height: 40px;
    position: absolute;
    top: 250px;
    left: 11px;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: powderblue;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

#featuredCard1{
    grid-column: 1 / 4;
    grid-row: 1;
}


#featuredCard2{
    grid-column: 2 / 4;
    grid-row: 1;
}

#featuredCard3{
    grid-column: 3 / 4;
    grid-row: 1;
}

#featuredCard4{
    grid-column: 4 / 4;
    grid-row: 1;
}


.catDescription{
    height: 700px;
    width: 500px;
    position: relative;
    top: 50px;
    left: 800px;
    
}

.individualCatName{
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: powderblue;
    text-align: center;

}

.bottomBorder{
    border-bottom: 5px solid pink;
    padding-bottom: 25px;
    padding-top: 25px;
}

.footer{
    background-color: pink;
    padding-top: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}

.adoptButton{
    position: absolute;
    top: 1100px;
    left: 360px;
}

.donateButton{
    position: absolute;
    top: 1150px;
    left: 345px;

}

#allCatsContainer{
    position: relative;
    top: 300px;
}

